.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .align-top{
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body {
  background-color: #E8ECF2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 100px;
}

.spinner{
  display: block;
  margin: 0 auto;
}

.tituloProductos{
  font-size: 30px;
  font-weight: bold;
  color: #434852;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 5%;
}

.card-ecommerce{
  height: 100%;
  position: relative;
  padding: 15px;
  box-shadow: 1px 5px 15px rgba(11, 14, 13, 0.158);
  border-radius: 6px;
  margin-bottom: 5%;
  background: #E8ECF2;
}

.img {
  width: 100%;
  height: 40vh;
  border-radius: 6px;
}

.price{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  color: #222;
  display: inline-block;
}

.name{
  height: 2vh;
  font-size: 18px;
  color: #222;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 4%;
}

.boton-detail{
  color: #434852 !important;
  width: 20%;
  font-family: 'Roboto',sans-serif;
  box-shadow: 1px 5px 15px rgba(17,23,21,.16);
  margin-top: 30%;
  display: inline-block;
  margin-left: 35%;
  border-radius: 15px;
}
.boton-detail:hover{
  transition: .5s;
  color: black;
  width: 25%;
  font-weight: bold;
  display: inline-block;
}


/*---------Card detail-----------*/
.card-ecommerce-detail{
  height: 100%;
  width: 50vw;
  display: block;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 1px 5px 15px rgba(11, 14, 13, 0.158);
  border-radius: 6px;
  margin-bottom: 5%;
  background: #E8ECF2;
}

.img-detail{
  width: 100%;
  height: 40vh;
  border-radius: 6px;
}

.price-detail{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  color: #222;
  display: inline-block;
}
.name-detail{
  height: 5vh;
  font-size: 18px;
  color: #222;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 4%;
}
.desc-detail{
  height: 15vh;
}

.volver-detail{
  color: #434852 !important;
  width: 15%;
  font-family: 'Roboto',sans-serif;
  box-shadow: 1px 5px 15px rgba(17,23,21,.16);
  display: inline-block;
  border-radius: 15px;
  margin-right: 100%;
  margin-bottom: 10%;
}
.volver-detail:hover{
  transition: .5s;
  color: black;
  width: 20%;
  font-weight: bold;
}

.botonFinalizar{
  color: #434852 !important;
  font-family: 'Roboto',sans-serif;
  box-shadow: 1px 5px 15px rgba(17,23,21,.16);
  display: inline-block;
  border-radius: 15px;
  height: 5vh;
  margin-top: 15%;
}

.Botones{
  color: #434852 !important;
  font-family: 'Roboto',sans-serif;
  box-shadow: 1px 5px 15px rgba(17,23,21,.16);
  display: inline-block;
  border-radius: 15px;
  height: 5vh;
  margin-top: 15%;
}





/* ------------ Cart ------------------*/


.cardCart{
  height: 100%;
  width: 25vw;
  padding: 15px;
  box-shadow: 1px 5px 15px rgba(11, 14, 13, 0.158);
  border-radius: 16px;
  margin-bottom: 5%;
  background: #E8ECF2;
  display: block;
  margin: 5% auto;
}

.cartImg{
  width: 100%;
  height: 40vh;
  border-radius: 6px;
}

.cartTitle{
  height: 10vh;
  font-size: 18px;
  color: #222;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 4%;
}


.cartQuantity{
  height: 5vh;
  font-size: 18px;
  color: #222;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 4%;
}

.borrarButton{
  color: #434852;
  font-family: 'Roboto',sans-serif;
  box-shadow: 1px 5px 15px rgba(17,23,21,.16);
  border-radius: 15px;
  height: 5vh;
  margin-top: 2%;
  width: 40%;
}

.borrarButton:hover{
  color: black;
  font-weight: bold;
  width: 50%;
  transition: 1s;
}


.deleteItemCart{
  color: #434852 !important;
  width: 15%;
  font-family: 'Roboto',sans-serif;
  box-shadow: 1px 5px 15px rgba(17,23,21,.16);
  display: inline-block;
  border-radius: 15px;
  margin-right: 100%;
  margin-bottom: 10%;
}
.deleteItemCart:hover{
  transition: .5s;
  color: black;
  width: 20%;
  font-weight: bold;
}